*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chat-container{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.chat-conteiner::-webkit-scrollbar{
    background-color: pink;  
    width: 12px; 
    border-radius: 20px;     
    border: 3px solid rgb(238, 171, 193)
}
.item{
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    height: 84px;
    justify-content: space-between;
    border: 1px solid rgb(187, 183, 183);
}
.parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.parte2{
    cursor: pointer;
    gap: 10px;
}
.sub-parte2{
    display: flex;
    padding-right: 8px;
    width: 244px;
    height: 40px;
}
.foto-perfil{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    cursor: pointer;
}
.mensagens-nao-lidas{
    background-color: rgb(212, 83, 66);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.atendente{
    width: 100px;
    color: white;
    background-color: rgb(212, 83, 66);
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
/*cll*/
.celular{
    background-color: black;
    padding: 20px 20px;
    border: 8px outset rgb(99, 93, 93);
    border-radius: 12px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
span{
    color: white;
    font-size: 60px;
    
}
.social{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 2px;
    transition: .2s;
}
.social:hover{
    transform: scale(1.09);
}
.nome{
    font-size: 20px;
    font-weight: 300;
    height: 12px;
}